{% extends 'layout.html' %}
{% block body %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="container">
        <div class="row justify-content-between align-items-center">
                <div class="col">
                        <div class="card">
                                <div class="row card-body">
                                        <div class="col">
                                                <h1 class="display-2 mb-4">Employee Performance & Productivity  Monitoring System</h1>
                                                <h3 class="display-4 mb-4">Dream Believe and Build The Future</h3>
                                                <p class="lead mb-4 text-muted">Know exactly what your employees are
                                                        doing in real-time.</p>
                                        </div>
                                        <div class="col text-right">
                                                <img src="/static/html/assets/img/group-working-1.gif" />
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>

{% comment %} <div class="container">
        <br />
        <br />

        <div class="row align-items-center my-large">
                <div class="col-md-6">
                        <div id="platform-exam_proctoring" class="platform-animation">
                                <img class="mb-3 mt-3"
                                        src="/static/html/assets/img/5e8c63b23fc11bddb44045d7_track time from anywhere.svg"
                                        alt="">
                        </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                        <h1 class="display-2 mb-4">Automated Attendance and Real-Time Monitoring.</h1>
                        <p class="lead mb-4 text-muted">
                                Keep track of when your employees clock in and out, when they take breaks, and how much time they actually worked throughout their clocked period.<br />
                                Check in on what your remote employees are doing at any time of day.
                        </p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/07-application-usage.png" alt="">
                </div>
                <div class="col-md-6 col-lg-5 order-md-1">
                        <h1 class="display-2 mb-4">App usage.</h1>
                        <p class="lead mb-4 text-muted">With the App usage tool, you can conduct a productivity audit on your 
                                employees. App usage allows you to pinpoint specifics about applications utilized by employees during working hours.</p>
                </div>
        </div>


        <div class="row align-items-center my-large">
                <div class="col-md-6">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/5e738de38fd6df29784ec1d6_ill3.svg" alt="">
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                        <h1 class="display-2 mb-4">Acquire Screenshots of Your Employees</h1>
                        <p class="lead mb-4 text-muted">EPMS provides 100% transparency by capturing screenshots
                                at fixed intervals of time.</p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/20-reports.png" alt="">
                </div>
                <div class="col-md-6 col-lg-5 order-md-1">
                        <h1 class="display-2 mb-4">Observe and Analyse</h1>
                        <p class="lead mb-4 text-muted">EPMS lets you observe and analyse your employee’s
                                performance, so that you can make the right
                                decision.</p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/5e738de17ea4ad3bc7625849_ill4.svg" alt="">
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                        <h1 class="display-2 mb-4">Organize Your Projects and Tasks</h1>
                        <p class="lead mb-4 text-muted">Break down projects into smaller tasks, assign them to employees
                                and set priorities, so your whole team knows what they
                                should do next.</p>
                </div>
        </div>

                <div class="row align-items-center my-large">
                        <div class="col-md-6 order-md-2 offset-lg-1 ">
                                <img class="img-fluid services-feature-img"
                                src="/static/html/assets/img/j7.png"
                                alt="Dedicated Account Team">
                        </div>
                        <div class="col-md-6 col-lg-5 order-md-1">
                                <h1 class="display-2 mb-4">Modernize your meeting solution for your Project Team</h1>
                                <p class="lead mb-4 text-muted">EPMS gives the tools necessary to ensure that every meeting is a success.
                        
                                        Without interruption, concentrate on your project meetings.
                                        Without uploading the content, you can share and play videos with full audio and video transmission.
                </p>
                        </div>
                </div>


                        <div class="row align-items-center my-large">
                                <div class="col-md-6">
                                <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_Tcz0nk.json" background="transparent" speed="1"
                                        style="width: 500px; height: 500px;" loop autoplay></lottie-player>                                </div>
                                <div class="col-md-6 col-lg-5 offset-lg-1">
                                        <h1 class="display-2 mb-4">Interactive Dashboards for Organization & Employee</h1>
                                        <p class="lead mb-4 text-muted">Interactive Dashboard for Organizations and Employees to
                                                 interact with numerous activities and check employee productivity data</p>
                                </div>
                        </div>

<div class="row align-items-center my-large">
        <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/5e738de1f523aa6599c4b1c1_ill2.svg" alt="">
                </div>
                <div class="col-md-6 col-lg-5 order-md-1">
                        <h1 class="display-2 mb-4">Employees’ Productivity</h1>
                        <p class="lead mb-4 text-muted">Monitor which apps and websites your remote workers use during working hours, 
                                including the frequency with which they are used and the amount of time they spend on each.<br />
                                Categorize all apps and websites your staff is using as productive or unproductive, and get
                                 detailed productivity metrics and reports on their working time.
                        </p>
                </div>
        </div>
</div>

<br>
</section>



</div>
</div>
</div>

</div>
</div> {% endcomment %}

{% endblock %}